
.gameBody{
    width:75%;
    margin-left: 15%;
    background-color: bisque;
    padding: 5%;
}
.gameButtons{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.gameName, .instructions{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    width:150px;
    height: 150px;
    color: white;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
}
.playerScore, .computerScore{
    width:50%;
    background-color: pink;
    border: 5px solid red;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gameScore{
    display: flex;
    align-items: center;
    justify-content: center;
    height:250px;
}
.scoreTitle{
    width:100%;
    display: flex;
    justify-content: center;
}
.score{
    background-color: antiquewhite;
    width:150px;
    height:150px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}